<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>contextPath</param-name>
        <param-value>/ChattideWeb</param-value>
    </context-param>
    <servlet>
        <servlet-name>SvRegistro</servlet-name>
        <servlet-class>com.chattide.web.Servlet.AuthUser.SvRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogin</servlet-name>
        <servlet-class>com.chattide.web.Servlet.AuthUser.SvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvCrearGrupo</servlet-name>
        <servlet-class>com.chattide.web.Servlet.GestGrup.SvCrearGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvBuscarGrupos</servlet-name>
        <servlet-class>com.chattide.web.Servlet.GestGrup.SvBuscarGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvMisGrupos</servlet-name>
        <servlet-class>com.chattide.web.Servlet.GestGrup.SvMisGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvSalirGrupo</servlet-name>
        <servlet-class>com.chattide.web.Servlet.GestGrup.SvSalirGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPublicar</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvPublicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvMiCuenta</servlet-name>
        <servlet-class>com.chattide.web.Servlet.AuthUser.SvMiCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvUnirseGrupo</servlet-name>
        <servlet-class>com.chattide.web.Servlet.GestGrup.SvUnirseGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvComentario</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLike</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLikeCount</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvLikeCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvMiGrupo</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvMiGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPerfil</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPublicacion</servlet-name>
        <servlet-class>com.chattide.web.Servlet.PubCom.SvPublicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvRegistro</servlet-name>
        <url-pattern>/SvRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogin</servlet-name>
        <url-pattern>/SvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvCrearGrupo</servlet-name>
        <url-pattern>/SvCrearGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvBuscarGrupos</servlet-name>
        <url-pattern>/SvBuscarGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvMisGrupos</servlet-name>
        <url-pattern>/SvMisGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvSalirGrupo</servlet-name>
        <url-pattern>/SvSalirGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPublicar</servlet-name>
        <url-pattern>/SvPublicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvMiCuenta</servlet-name>
        <url-pattern>/SvMiCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvUnirseGrupo</servlet-name>
        <url-pattern>/SvUnirseGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvComentario</servlet-name>
        <url-pattern>/SvComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLike</servlet-name>
        <url-pattern>/SvLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLikeCount</servlet-name>
        <url-pattern>/SvLikeCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvMiGrupo</servlet-name>
        <url-pattern>/SvMiGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPerfil</servlet-name>
        <url-pattern>/SvPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPublicacion</servlet-name>
        <url-pattern>/SvPublicacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
